<div class="flex flex-col p-4">
  <div class="flex flex-col">
    <p>
      <span class="mat-subtitle-1"
        ><app-link [href]="getObjectUrl(userProject.id)">{{
          userProject.name
        }}</app-link></span
      >
      <span class="mat-caption ml-2"
        >Owner: ({{ userProject.ownerUsername }})</span
      >
    </p>
    <p class="space-x-1 mat-body-1">
      <span>{{ userProject.amOwner }}</span>
      <span>{{ userProject.isPrivate }}</span>
      <span>{{ userProject.modifiedDate }}</span>
    </p>
  </div>
</div>

<!-- <p>ProjectListItem works!</p> -->
