.popup {
  height: 80dvh;
  min-width: 70dvw;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.5vw;
  box-shadow: 0 1vw 1vw -0.6vw rgba(0, 0, 0, 0.2),
    0 1.6vw 2vw 0.2vw rgba(0, 0, 0, 0.14),
    0 0.6vw 2.8vw 0.4vw rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.story-priority-list.cdk-drop-list-dragging
  .story-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
