<div>
  <p class="mat-subtitle-2 mt-2">{{ 'Stats.BurndownChart' | translate }}</p>
  <apx-chart
    [series]="burndownChartOptions().series!"
    [chart]="burndownChartOptions().chart!"
    [colors]="burndownChartOptions().colors!"
    [dataLabels]="commonOptions.dataLabels!"
    [markers]="commonOptions.markers!"
    [stroke]="commonOptions.stroke!"
    [grid]="commonOptions.grid!"
    [xaxis]="burndownChartOptions().xaxis!"
    [yaxis]="burndownChartOptions().yaxis!"
    [tooltip]="commonOptions.tooltip!"
    [legend]="burndownChartOptions().legend!"
  ></apx-chart>
</div>
