<div>
  <p class="mat-subtitle-2 mt-2">Burndown chart</p>
  <apx-chart
    [series]="burndownChartOptions().series || []"
    [chart]="burndownChartOptions().chart"
    [colors]="burndownChartOptions().colors"
    [yaxis]="burndownChartOptions().yaxis || []"
    [dataLabels]="commonOptions.dataLabels || {}"
    [markers]="commonOptions.markers || {}"
    [stroke]="commonOptions.stroke || {}"
    [grid]="commonOptions.grid"
    [xaxis]="commonOptions.xaxis || {}"
    [tooltip]="commonOptions.tooltip || {}"
  ></apx-chart>
</div>
