<div class="m-4 flex justify-center">
  @if (!showLoginForm()) {
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="forceLoginForm()"
  >
    Wprowadź dane ponownie
  </button>
  } @else {
  <div [formGroup]="formGroup" class="flex flex-col w-full">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input formControlName="login" matInput type="text" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input formControlName="password" matInput type="password" required />
    </mat-form-field>

    <div class="flex flex-row justify-end gap-2">
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="cancelLoginFormIfPossible()"
      >
        Wróć
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="submit()"
        [disabled]="!isFormValid"
      >
        Zaloguj
      </button>
    </div>
  </div>
  }
</div>
