<div>
  <div class="flex flex-row mb-4  items-end">
    <h2 class="text-lg">
      {{"Project.Poker.ExistingSessions" | translate}}
    </h2>
    <div class="flex-1"></div>
    <button mat-mini-fab color="primary" (click)="createSession()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</div>


<!-- <div class="flex flex-col w-full overflow-y-scroll"> -->
@for (session of sessions(); track $index) {
<a [href]="'EstimationPoker/' + session.id">
  <div class="w-full rounded-sm px-4 py-2 overflow-hidden">
    <span class="text-xl p-0 text-primary">
      {{ session.name }}
    </span>
  </div>
</a>
<mat-divider></mat-divider>
}
<!-- </div> -->