<div class="flex flex-col divide-y mx-2">
  <div
    class="flex flex-col p-4 outline outline-1 outline-gray-200 shadow-lg my-1 hover:cursor-pointer"
    (click)="
      redirectToUserStories(sprintElement.projectId, sprintElement.sprintId)
    "
  >
    <div class="flex flex-row justify-between">
      <div class="flex flex-col">
        <span class="mat-headline-8">{{ sprintElement.projectName }} </span>
        <span class="mat-headline-6 font-bold"
          >{{ sprintElement.sprintName }}
        </span>
      </div>
      <div class="items-end">
        <a mat-icon-button (click)="openLink($event)" target="_blank">
          <mat-icon aria-label="Open sprint">open_in_new</mat-icon></a
        >
      </div>
    </div>

    <span class="grid grid-cols-3 items-center pb-2">
      <span class="mat-caption ml-2"
        >Start: {{ formatDate(sprintElement.estimatedStart) }}</span
      >
      <span class="mat-caption ml-2"
        >End: {{ formatDate(sprintElement.estimatedFinish) }}</span
      >
    </span>
  </div>

  <div>
    <div class="space-x-1 mat-body-1">
      <div class="grid grid-cols-1 divide-y">
        @for (story of sprintElement.userStories; track $index) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              #{{ story.userStoryRef }}
              {{ story.userStoryName }}</mat-panel-title
            >
          </mat-expansion-panel-header>
          <span class="grid grid-cols-3 items-center">
            <span class="mat-body">Status: {{ story.statusName }}</span>
            <span class="mat-body">Total points: {{ story.totalPoints }}</span>
          </span>
        </mat-expansion-panel>
        }
      </div>
    </div>
  </div>
</div>
