@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
    padding: revert;
    margin: revert;
  }
}

body,
html {
  height: 100vh;
}

.dark-theme .stubborn-text {
  color: white;
}

.dark-theme .stubborn-icon {
  filter: invert(1);
}

.dark-theme .stubborn-icon-inverted {
  filter: invert(0) !important;
}

.dark-theme .side {
  background-color: #303030;
}

.dark-theme .cdk-drag-preview {
  color: white !important;
}

.dark-theme .text-primary {
  color: white;
}

.text-primary {
  color: black;
}

.img-loading {
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    border-radius: 2px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    border-radius: 2px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

//scrollbar
* {
  /* Scrollbar settings for Firefox */
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Styles the scrollbar thumb and track */
}

ng-scrollbar {
  --scrollbar-thickness: 8 !important;
  --scrollbar-border-radius: 8px !important;

  @media (max-width: 600px) {
    --scrollbar-thickness: 5 !important;
    --scrollbar-border-radius: 8px !important;
  }
}

.link {
  @apply text-blue-600 dark:text-blue-500 hover:underline;
}
