<div class="self-center flex space-x-2">
    @if(userData().isAuthorized) {
    <img class="rounded-full max-w-10 cursor-pointer" imageLoader
        [placeholderSrc]="'assets\\images\\user-placeholder.jpg'" [matMenuTriggerFor]="menu"
        src="{{userData().userPhotoUrl}}" alt="{{userData().userName}}'s Profile Picture">
    <mat-menu #menu="matMenu" class="my-2">
        <div class="flex justify-center items-center flex-col px-8 py-4 space-y-3">
            <img class="rounded-full max-h-16 max-w-16 cursor-pointer" imageLoader
                [placeholderSrc]="'assets\\images\\user-placeholder.jpg'" src="{{userData().userPhotoUrl}}"
                alt="{{userData().userName}}'s Profile Picture">
            <h1 class="font-medium text-2xl stubborn-text">{{userData().userName}}</h1>
            <span class="flex space-x-1">
                <button mat-stroked-button [routerLink]="'UserSettings'">{{"UserAccount.Settings" | translate}}</button>
                <button mat-stroked-button (click)="logout()">{{"UserAccount.Logout" | translate}}</button>
            </span>
        </div>
    </mat-menu>
    }
    @else {
    <asl-google-signin-button type="standard" shape="pill" theme="outline" size="large" >
        ></asl-google-signin-button>
    }
</div>