@if (notFoundError()) {
  <p class="mat-headline-2">{{'Retrospective.Error.SessionNotFound' | translate}}</p>
} @else if (cardsLoaded()) {
  <div class="min-h-dvh grid grid-cols-3 divide-x-4 overflow-x-scroll">
    <app-retro-table-column
      [titleKey]="'Retrospective.Table.Goods'"
      [sessionId]="sessionId()"
      [columnType]="CardType.Good"
      [content]="goods()"
    />

    <app-retro-table-column
      [titleKey]="'Retrospective.Table.Bads'"
      [sessionId]="sessionId()"
      [columnType]="CardType.Bad"
      [content]="bads()"
    />

    <app-retro-table-column
      [titleKey]="'Retrospective.Table.Ideas'"
      [sessionId]="sessionId()"
      [columnType]="CardType.Idea"
      [content]="ideas()"
    />
  </div>
} @else {
  <mat-progress-bar mode="indeterminate" />
}