<div class="w-full flex flex-col sm:flex-row">
  <div class="w-full sm:w-3/5">
    <p class="mat-headline-5">
      {{ 'Project.Title' | translate }}
    </p>

    <div class="w-full">
      <app-sprint-preview [sprints]="sprints()" />
      @if (projectId() && topSprintId()!==topSprintIdNotSet) {
      <div class="mx-4">
        <app-sprint-stats
          [projectId]="projectId()"
          [sprintId]="topSprintId()"
        />
      </div>
      }
    </div>
  </div>
  <div class="w-full sm:w-2/5 flex flex-col space-y-4">
    @if (projectId()) {
    <app-project-feed [projectId]="projectId()" />
    <app-poker-sessions-list [projectId]="projectId()" />
    }
  </div>
</div>
