@if(editorStateServiceService.isSuggestionsVisible()){
<div class="shadow-xl my-0.5">
  <p class="mat-subtitle-2 sm:mat-subtitle-1">
    {{ 'Shared.SuggestionByAI' | translate }}
  </p>
  <div>
    <app-description-diff
      #descriptionDiff
      [originalData]="editorStateServiceService.descriptionEditorValue()"
      [modifiedData]="
        editorStateServiceService.suggestionString() ??
        ('Shared.Edit.CouldNotLoadDescription' | translate)
      "
    ></app-description-diff>
  </div>
  <div class="flex flex-row justify-around">
    <button (click)="appendSuggestionToFront()" mat-flat-button color="primary">
      {{ 'Shared.AI.AppendToFront' | translate }}
      <mat-icon>done</mat-icon>
    </button>
    <button (click)="appendSuggestionToBack()" mat-flat-button color="primary">
      {{ 'Shared.AI.AppendToBack' | translate }}
      <mat-icon>done</mat-icon>
    </button>
    <button (click)="replaceWithSuggestion()" mat-flat-button color="primary">
      {{ 'Shared.AI.Replace' | translate }}
      <mat-icon>published_with_changes</mat-icon>
    </button>

    <button (click)="rejectSuggestion()" mat-flat-button color="warn">
      {{ 'Shared.AI.Reject' | translate }}
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
}@else if (!editorStateServiceService.isSuggestionsVisible() && isLoading()) {
<p class="flex flex-row justify-center">
  <mat-spinner></mat-spinner>
</p>
}
@if(editorStateServiceService.isEditorVisible()){
<div class="shadow-xl my-0.5">
  <p class="mat-subtitle-2 sm:mat-subtitle-1">
    {{ 'Shared.Editor' | translate }}
  </p>
  <app-markdown-editor
    #editor
    [editorContent]="editorStateServiceService.descriptionEditorValue()"
    (contentChange)="updateDescription($event)"
  ></app-markdown-editor>
  <div class="flex flex-row justify-around">
    <button (click)="saveDescriptionChanges()" mat-flat-button color="primary">
      {{ 'Shared.Save' | translate }}
    </button>
    <button (click)="resetDescription()" mat-flat-button color="warn">
      {{ 'Shared.Cancel' | translate }}
    </button>
  </div>
</div>
}
