@if(isSuggestionsVisible()){
<div>
  <p class="mat-subtitle-2 sm:mat-subtitle-1">
    {{ 'Shared.SuggestionByAI' | translate }}
  </p>
  <div>
    <app-description-diff
      #descriptionDiff
      [originalData]="descriptionEditorValue()"
      [modifiedData]="
        suggestion()?.descriptionEditSuggestion ??
        'Could not generate suggestion'
      "
    ></app-description-diff>
  </div>
  <div class="flex flex-row justify-around">
    <button (click)="appendSuggestionToFront()" mat-flat-button color="primary">
      {{ 'Shared.AI.AppendToFront' | translate }}
      <mat-icon>done</mat-icon>
    </button>
    <button (click)="appendSuggestionToBack()" mat-flat-button color="primary">
      {{ 'Shared.AI.AppendToBack' | translate }}
      <mat-icon>done</mat-icon>
    </button>
    <button (click)="replaceWithSuggestion()" mat-flat-button color="primary">
      {{ 'Shared.AI.Replace' | translate }}
      <mat-icon>done</mat-icon>
    </button>

    <button (click)="rejectSuggestion()" mat-flat-button color="warn">
      {{ 'Shared.AI.Reject' | translate }}
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
}@else if (!isSuggestionsVisible() && isLoading()) {
<p class="flex flex-row justify-center">
  <mat-spinner></mat-spinner>
</p>
} @if(isEditorVisible()){
<p class="mat-subtitle-2 sm:mat-subtitle-1">
  {{ 'Shared.Editor' | translate }}
</p>
<app-markdown-editor
  #editor
  [editorContent]="descriptionEditorValue()"
  (contentChange)="updateDescription($event)"
></app-markdown-editor>
<div class="flex flex-row justify-around">
  <button (click)="saveDescriptionChanges()" mat-flat-button color="primary">
    {{ 'Shared.Save' | translate }}
  </button>
  <button (click)="resetDescription()" mat-flat-button color="warn">
    {{ 'Shared.Cancel' | translate }}
  </button>
</div>
}
