<div class="flex flex-col p-4">
  <div class="flex flex-row">
    <app-avatar [src]="timelineRow().userAvatar" class="mr-4" />
    <div class="flex flex-col">
      <p>
        <span class="mat-subtitle-2 sm:mat-subtitle-1">{{
          timelineRow().userName
        }}</span>
        <span class="mat-caption ml-2">({{ timelineRow().userNick }})</span>
      </p>
      <p class="space-x-1 mat-body-2 sm:mat-body-1">
        {{ getScrumObjectTypeText(timelineRow().scrumObjectType) }}
        <span class="font-bold">{{ timelineRow().scrumObjectName }}</span>
        {{ getHasBeenText(timelineRow().scrumObjectType) }}
        {{
          getStateText(
            timelineRow().scrumObjectType,
            timelineRow().scrumObjectState
          )
        }}
      </p>
    </div>
  </div>
  @if (showProjectLink()) {
  <div class="flex justify-end">
    <a class="link" [routerLink]="'/Project/' + timelineRow().projectId">
      {{ timelineRow().projectName }}
    </a>
  </div>
  }
  <mat-divider />
</div>
